/*NAV-TEXT*/

@media screen and (min-width: 425px){
    nav h1 a {
        font-size: 0.8em;
    }
}
@media screen and (min-width: 525px){
    nav h1 a {
        font-size: 1em;
    }
    .filter-options {
        padding-bottom: 10px;
    }
    .filter-options h2 {
        font-size: 1.2rem;
    }   
}

@media screen and (min-width: 625px){
    nav h1 a {
        font-size: 1.2em;
    }

     .filter-options>select{
        max-width: 334px;
    }
}
@media screen and (min-width: 740px){
  #restaurants-list li {
        width: 270px;
    } 
}


/*FILTER OPTIONS*/

@media screen and (max-width: 382px){

}

/*LARGE SCREEN MARGINS*/

@media screen and (min-width: 1600px){
    .container{
        max-width: 1600px;
        margin: 0 auto;
        box-shadow: 8px 5px 10px #000;
    }
    body {
        padding: 3vh 0 5vh
    }
}